body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: Arial;
}
.contained {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counter-container {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.increment-button {
  padding: 10px;
  margin: 20px;
  background: lightseagreen;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 3px;
}

.increment-button:hover {
  background: cadetblue;
}

.decrement-button {
  padding: 10px;
  margin: 20px;
  background: coral;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 3px;
}

.decrement-button:hover {
  background: tomato;
}

.count {
  font-size: 1.5rem;
  font-weight: bold;
  color: paleturquoise;
  width: 105px;
  height: 32px;
  border-radius: 3px;
  background: #333;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.search-container {
  display: flex;
  justify-content: space-evenly;
}

.search-button {
  padding: 25px;
  margin: 20px;
  background: #333;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: none;
  width: 200px;
}

.search-results {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background: #333;
  color: white;
  width: 400px;
  font-size: 1rem;
  border-radius: 3px;
  font-weight: 400;
  font-variant: small-caps;
}

a {
  text-decoration: none;
  color: paleturquoise;
}

a:hover {
  color: darkturquoise;
}

.search-result {
  padding-top: 15px;
}

input {
  height: 30px;
  width: 300px;

  border-style:solid;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  outline: transparent;
}
